<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">In Progress, in the meantime please see my github page <a href="https://www.github.com/SYoung82">here</a></p>
    <p>
      <%= link_to 'More About Me', about_path, class: "btn btn-primary" %>
      <%= link_to 'Blog', blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>